@model SegurosFYP.Models.EstadoCivilViewModel
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Update" asp-controller="EstadoCivil">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Estad_Descripcion" class="control-label"></label>
                <input asp-for="Estad_Id" type="hidden" class="form-control" id="Estad_Id" />
                <input asp-for="Estad_Descripcion" class="form-control" id="Estad_Descripcion" />
                <span asp-validation-for="Estad_Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
