@model SegurosFYP.Models.UnidadViewModel

        @{
        ViewData["Title"] = "_Delete";
        ViewData["ModelName"] = "UnidadViewModel".Replace("ViewModel","");
        }
        <h3>Estas seguro que deseas eliminar este registro?</h3>
            <div class="modal-footer">
                <hr />
                <form asp-action="Delete" asp-controller="Unidad">
                    <input type="hidden" name="Unida_Id" id="id" />
                    <div class="form-group">
                        <input type="submit" value="Eliminar" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
            <script>
                function ObtenerID(id) {
                    console.log("si entra" + id);
                    $("#id").val(id);
                }
            </script>
