@model SegurosFYP.Models.UsuarioViewModel

@{
    ViewData["Title"] = "_Insert";
    ViewData["ModelName"] = "UsuarioViewModel".Replace("ViewModel", "");
}

<form asp-action="Insert">
    <div class="d-flex justify-content-center flex-wrap">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-sm-5">
            <label asp-for="Usuar_Usuario" class="control-label"></label>
            <input asp-for="Usuar_Usuario" class="form-control" />
            <span asp-validation-for="Usuar_Usuario" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-5">
            <label asp-for="Usuar_Contrasena" class="control-label"></label>
            <input asp-for="Usuar_Contrasena" class="form-control" />
            <span asp-validation-for="Usuar_Contrasena" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-5">
            <label asp-for="Emple_Id" class="control-label"></label>
            <select asp-for="Emple_Id" id="EmpleadoSelect" class="form-control"></select>
            <span asp-validation-for="Emple_Id" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-5">
            <label asp-for="Roles_Id" class="control-label"></label> 
            <select asp-for="Roles_Id" id="RolSelect" class="form-control" name="Roles_Id"></select>
            <span asp-validation-for="Roles_Id" class="text-danger"></span>
        </div>
        <div class="form-group form-check col-sm-5">
            <div class="checkbox-wrapper-14">    
                    <input class="form-check-input switch" asp-for="Usuar_Admin" id="ChbAdmin" type="checkbox" />@Html.DisplayNameFor(model => model.Usuar_Admin)
                </div>
            </div>
        </div>
    <div class="form-group d-flex justify-content-end" style="gap: 5px;">
        <input type="submit" value="Guardar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {

        $("#ChbAdmin").change(function () {
            if ($("#ChbAdmin").is(':checked')) {
                $("#RolSelect").hide();
                console.log(Rol);
                console.log("Entra");
            }
            else {
                
                $("#RolSelect").show();
                console.log("Sale");
            }
        });

        fetch('https://localhost:44327/API/Roles/ListadoRoles')
            .then(response => response.json())
            .then(data => {
                var options = '<option value="0">Seleccione una opcion</option>';
                $.each(data.data, function (key, value) {
                        options += '<option value="' + value.roles_Id + '">' + value.roles_Descripcion + '</option>';                 
                })
                $("#RolSelect").append(options);
            })
            .catch(error => console.error('Hubo un error:', error));

        fetch('https://localhost:44327/api/Empleado/List/Empleados')
            .then(response => response.json())
            .then(data => {
                var options = '<option value="0">Seleccione una opcion</option>';
                $.each(data.data, function (key, value) {

                    options += '<option value="' + value.emple_Id + '">' + value.perso_NombreCompleto + '</option>';

                })
                $("#EmpleadoSelect").append(options);
            })
            .catch(error => console.error('Hubo un error:', error));

    });
   
</script>

