@model SegurosFYP.Models.PolizaCompletaViewModel


<h1>Create</h1>

<h4>Polizas</h4>
<hr />

<div class="ibox-content">

    <form id="form" enctype="multipart/form-data" method="post" action="Create" class="wizard-big">

        <h1>Creacion de Contractor</h1>
        <fieldset style="overflow-y:auto">
            <h2>Asegurador</h2>
            <hr class="style-three" />
            <div class="form-group col-sm-5">
                <label asp-for="Poliza.Emple_Id" class="control-label"></label>
                <select asp-for="Poliza.Emple_Id" class="form-control"></select>
                <span asp-validation-for="Poliza.Emple_Id" class="text-danger"></span>
            </div>
            <hr class="style-three" />

            <h2>Contractor</h2>

            <hr class="style-three" />
            <div class="d-flex justify-content-center flex-wrap">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-sm-5">
                    <label asp-for="Cliente.Perso_PrimerNombre" class="control-label"></label>
                    <input asp-for="Cliente.Perso_PrimerNombre" class="form-control" />
                    <span asp-validation-for="Cliente.Perso_PrimerNombre" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Cliente.Perso_SegundoNombre" class="control-label"></label>
                    <input asp-for="Cliente.Perso_SegundoNombre" class="form-control" />
                    <span asp-validation-for="Cliente.Perso_SegundoNombre" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Cliente.Perso_PrimerApellido" class="control-label"></label>
                    <input asp-for="Cliente.Perso_PrimerApellido" class="form-control" />
                    <span asp-validation-for="Cliente.Perso_PrimerApellido" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Cliente.Perso_SegundoApellido" class="control-label"></label>
                    <input asp-for="Cliente.Perso_SegundoApellido" class="form-control" />
                    <span asp-validation-for="Cliente.Perso_SegundoApellido" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Cliente.Perso_Sexo" class="control-label"></label>
                    <input asp-for="Cliente.Perso_Sexo" class="form-control" />
                    <span asp-validation-for="Cliente.Perso_Sexo" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Cliente.Estci_Id" class="control-label"></label>
                    <select asp-for="Cliente.Estci_Id" class="form-control"></select>
                    <span asp-validation-for="Cliente.Estci_Id" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Cliente.Perso_Telefono" class="control-label"></label>
                    <input asp-for="Cliente.Perso_Telefono" class="form-control" />
                    <span asp-validation-for="Cliente.Perso_Telefono" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Cliente.Perso_CorreoElectronico" class="control-label"></label>
                    <input asp-for="Cliente.Perso_CorreoElectronico" class="form-control" />
                    <span asp-validation-for="Cliente.Perso_CorreoElectronico" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-10">
                    <label asp-for="Cliente.Perso_Direccion" class="control-label"></label>
                    <input asp-for="Cliente.Perso_Direccion" class="form-control" />
                    <span asp-validation-for="Cliente.Perso_Direccion" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label  class="control-label">Departamento</label>
                    <select id="Depar_Id" name="Depar_Id" onchange="ddlMunicipio()" class="form-control"></select>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Cliente.Munic_Id" class="control-label"></label>
                    <select asp-for="Cliente.Munic_Id" class="form-control">
                        <option value="0">Seleccione una opcion</option>
                    </select>
                    <span asp-validation-for="Cliente.Munic_Id" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Cliente.Paise_Id" class="control-label "></label>
                    <select asp-for="Cliente.Paise_Id" class="form-control"></select>
                    <span asp-validation-for="Cliente.Paise_Id" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="d-flex justify-content-center">
                <div class="col-sm-10">
                    <h4>Identificacion</h4>
                </div>
            </div>
            <hr />
            <div class="d-flex justify-content-center flex-wrap">
                <div class="form-group col-sm-5">
                    <label asp-for="Identificacion.Tiden_Id" class="control-label"></label>
                    <select asp-for="Identificacion.Tiden_Id[0]" class="form-control" ></select>
                    <span asp-validation-for="Identificacion.Tiden_Id" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Identificacion.Ident_NumeroIdentificacion" class="control-label"></label>
                    <input asp-for="Identificacion.Ident_NumeroIdentificacion[0]" class="form-control" />
                    <span asp-validation-for="Identificacion.Ident_NumeroIdentificacion" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Identificacion.Ident_FechaNacimiento" class="control-label"></label>
                    <input asp-for="Identificacion.Ident_FechaNacimiento[0]" class="form-control" />
                    <span asp-validation-for="Identificacion.Ident_FechaNacimiento" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Identificacion.Ident_LugarNacimiento" class="control-label"></label>
                    <input asp-for="Identificacion.Ident_LugarNacimiento[0]" class="form-control" />
                    <span asp-validation-for="Identificacion.Ident_LugarNacimiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.DniFrente" class="control-label">Ingrese la parte de <b>ENFRENTE</b> de su DNI</label>
                    <div class="custom-file">
                        <input asp-for="Cliente.DniFrente" class="custom-file-input">
                        <label asp-for="Cliente.DniFrente" class="custom-file-label">Choose file</label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.DniAtras" class="control-label">Ingrese la parte de <b>ATRAS</b> de su DNI</label>
                    <div class="custom-file">
                        <input asp-for="Cliente.DniAtras" class="custom-file-input">
                        <label asp-for="Cliente.DniAtras" class="custom-file-label">Choose file</label>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-4">
                    <div class="text-center">
                        <div style="margin-top: 20px">
                            <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                        </div>
                    </div>
                </div>*@

        </fieldset>
        <h1>Agregar Dependientes</h1>
        <fieldset style="overflow-y:auto">
            <h2>Informacion de Dependiente</h2>
            <hr class="style-three" />

            <div class="d-flex justify-content-center flex-wrap">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-sm-5">
                    <label asp-for="Dependiente.Perso_PrimerNombre" class="control-label"></label>
                    <input @*asp-for="Dependiente.Perso_PrimerNombre"*@ type="text" id="Depen_PrimerNombre" name="Depen_PrimerNombre" class="form-control" />
                    <span asp-validation-for="Dependiente.Perso_PrimerNombre" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Dependiente.Perso_SegundoNombre" class="control-label"></label>
                    <input @*asp-for="Dependiente.Perso_SegundoNombre"*@ type="text" id="Depen_SegundoNombre" name="Depen_SegundoNombre" class="form-control" />
                    <span asp-validation-for="Dependiente.Perso_SegundoNombre" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Dependiente.Perso_PrimerApellido" class="control-label"></label>
                    <input @*asp-for="Dependiente.Perso_PrimerApellido"*@ type="text" id="Depen_PrimerApellido" name="Depen_PrimerApellido" class="form-control" />
                    <span asp-validation-for="Dependiente.Perso_PrimerApellido" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Dependiente.Perso_SegundoApellido" class="control-label"></label>
                    <input @*asp-for="Dependiente.Perso_SegundoApellido"*@ type="text" id="Depen_SegundoApellido" name="Depen_SegundoApellido" class="form-control" />
                    <span asp-validation-for="Dependiente.Perso_SegundoApellido" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Dependiente.Perso_Sexo" class="control-label"></label>
                    <input @*asp-for="Dependiente.Perso_Sexo[0]"*@ type="text" id="Depen_Sexo" name="Depen_Sexo" class="form-control" />
                    <span asp-validation-for="Dependiente.Perso_Sexo" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Dependiente.Paren_Id" class="control-label"></label>
                    <select @*asp-for="Dependiente.Paren_Id"*@ type="number" id="DepenParen_Id" name="DepenParen_Id" class="form-control"></select>
                    <span asp-validation-for="Dependiente.Paren_Id" class="text-danger"></span>
                </div>
            </div>
            <hr class="style-three" />
            <div class="d-flex justify-content-center">
                <div class="col-sm-10">
                    <h4>Identificacion</h4>
                </div>
            </div>
            <hr class="style-three" />
            <div class="d-flex justify-content-center flex-wrap">
                <div class="form-group col-sm-5">
                    <label asp-for="Identificacion.Tiden_Id" class="control-label"></label>
                    <select @*asp-for="Identificacion.Tiden_Id"*@ type="number" id="DepenTiden_Id" name="DepenTiden_Id" class="form-control"></select>
                    <span asp-validation-for="Identificacion.Tiden_Id" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Identificacion.Ident_NumeroIdentificacion" class="control-label"></label>
                    <input @*asp-for="Identificacion.Ident_NumeroIdentificacion"*@ type="number" id="DepenIdent_NumeroIdentificacion" name="DepenIdent_NumeroIdentificacion" class="form-control" />
                    <span asp-validation-for="Identificacion.Ident_NumeroIdentificacion" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Identificacion.Ident_FechaNacimiento" class="control-label"></label>
                    <input @*asp-for="Identificacion.Ident_FechaNacimiento"*@ type="datetime-local" id="DepenIdent_FechaNacimiento" name="DepenIdent_FechaNacimiento" class="form-control" />
                    <span asp-validation-for="Identificacion.Ident_FechaNacimiento" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label asp-for="Identificacion.Ident_LugarNacimiento" class="control-label"></label>
                    <input @*asp-for="Identificacion.Ident_LugarNacimiento"*@ type="text" id="DepenIdent_LugarNacimiento" name="DepenIdent_LugarNacimiento" class="form-control" />
                    <span asp-validation-for="Identificacion.Ident_LugarNacimiento" class="text-danger"></span>
                </div>
            </div>

            <div>
                <input type="button" onclick="appendDependiente()" id="btnAgregarDependiente" name="btnAgregarDependiente" class="btn btn-primary" value="Agregar" />
            </div>
            <div id="listDependientes">
                <table class="table-bordered table" id="tableDependientes">
                </table>
            </div>
        </fieldset>

        <h1>Seleccionar plan</h1>
        <fieldset style="overflow-y:auto">
            <div class="d-flex justify-content-center flex-wrap">
                @foreach(var item in Model.TiposdePlan)
            {
                <div class="card mb-5 mb-lg-0 ideal" aria-hidden="false">
                    <div class="card-body cardscroll" aria-hidden="false">
                        <input type="hidden" asp-for="Poliza.Tipos_Id" value="@Html.DisplayFor(model => item.Tipos_Id)">
                        <h5 class="card-title text-uppercase text-center negrita">@Html.DisplayFor(model => item.Tipos_Descripcion)</h5>
                        <div class="dividerLineMedium mb-3" aria-hidden="false"></div>
                        <button class="btn btn-danger btn-block" id="btnIdeal">Seleccionar</button>
                    </div>
                </div>
            }
                <div class="form-group col-sm-5">
                    <label asp-for="Poliza.Poliz_Cuotas" class="control-label"></label>
                    <input asp-for="Poliza.Poliz_Cuotas" class="form-control" />
                    <span asp-validation-for="Poliza.Poliz_Cuotas" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-5">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Poliza.Poliz_TipoPago" /> @Html.DisplayNameFor(model => model.Poliza.Poliz_TipoPago)
                    </label>
                </div>
            </div>
        </fieldset>
    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/lib/jquery/dist/jquery-3.1.1.min.js"></script>

@*<script src="~/lib/jquery/dist/jquery.js"></script>*@

@*<script src="~/lib/popper/popper.min.js"></script>*@

@*<script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>*@

@*<script src="~/lib/pace/pace.min.js"></script>
    <script src="~/lib/inspinia/inspinia.js"></script>
    <script src="~/lib/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/lib/metisMenu/jquery.metisMenu.js"></script>*@
<script>

    $(document).ready(function () {

            fetch('https://localhost:44327/api/parentesco/List/Parentesco')
                .then(response => response.json())
                .then(data => {
                    var options = '<option value="0">Seleccione una opcion</option>';
                    $.each(data.data, function (key, value) {
                        //console.log(value.paren_Id, "data.data")
                        if (value.paren_Id != 1)
                        {
                            options += '<option value="' + value.paren_Id + '">' + value.paren_Descripcion + '</option>';
                        }
                    })
                    $("#DepenParen_Id").append(options);
                })
                .catch(error => console.error('Hubo un error:', error));

        fetch('https://localhost:44327/api/empleado/DropDownList/Empleados')
            .then(response => response.json())
            .then(data => {
                var options = '<option value="0">Seleccione una opcion</option>';
                $.each(data.data, function (key, value) {
                    console.log(value.emple_Id, "data.data")
                        options += '<option value="' + value.emple_Id + '">' + value.perso_NombreCompleto + '</option>';
                    
                })
                $("#Poliza_Emple_Id").append(options);
            })
            .catch(error => console.error('Hubo un error:', error));

        fetch('https://localhost:44327/api/estadocivil/List/EstadoCivil')
            .then(response => response.json())
            .then(data => {
                var options = '<option value="0">Seleccione una opcion</option>';
                $.each(data.data, function (key, value) {
                    console.log(value.estad_Id, "data.data")
                    if (value.estad_Id != 1) {
                        options += '<option value="' + value.estad_Id + '">' + value.estad_Descripcion + '</option>';
                    }
                })
                $("#Cliente_Estci_Id").append(options);
            })
            .catch(error => console.error('Hubo un error:', error));

        fetch('https://localhost:44327/api/departamento/List/Departamentos')
            .then(response => response.json())
            .then(data => {
                var options = '<option value="0">Seleccione una opcion</option>';
                $.each(data.data, function (key, value) {
                    console.log(value.depar_Id, "data.data")
                    
                    options += '<option value="' + value.depar_Id + '">' + value.depar_Descripcion + '</option>';
                    
                })
                $("#Depar_Id").append(options);
            })
            .catch(error => console.error('Hubo un error:', error));

        fetch('https://localhost:44327/api/pais/List/Pais')
            .then(response => response.json())
            .then(data => {
                var options = '<option value="0">Seleccione una opcion</option>';
                $.each(data.data, function (key, value) {
                    console.log(value.paise_Id, "data.data")

                    options += '<option value="' + value.paise_Id + '">' + value.paise_Nacionalidad+ '</option>';

                })
                $("#Cliente_Paise_Id").append(options);
            })
            .catch(error => console.error('Hubo un error:', error));

        fetch('https://localhost:44327/api/tiposidentificaciones/List/TiposIdentificaciones')
            .then(response => response.json())
            .then(data => {
                var options = '<option value="0">Seleccione una opcion</option>';
                $.each(data.data, function (key, value) {
                    console.log(value.tiden_Id, "data.data")

                    options += '<option value="' + value.tiden_Id + '">' + value.tiden_Descripcion+ '</option>';

                })
                $("#Identificacion_Tiden_Id_0_").append(options);
            })
            .catch(error => console.error('Hubo un error:', error));

        fetch('https://localhost:44327/api/tiposidentificaciones/List/TiposIdentificaciones')
            .then(response => response.json())
            .then(data => {
                var options = '<option value="0">Seleccione una opcion</option>';
                $.each(data.data, function (key, value) {
                    console.log(value.tiden_Id, "data.data")

                    options += '<option value="' + value.tiden_Id + '">' + value.tiden_Descripcion + '</option>';

                })
                $("#DepenTiden_Id").append(options);
            })
            .catch(error => console.error('Hubo un error:', error));

        fetch('https://localhost:44327/tipoplan/DropDownList/TipoPlan')
            .then(response => response.json())
            .then(data => {
                var options = '<option value="0">Seleccione una opcion</option>';
                $.each(data.data, function (key, value) {
                    console.log(value.tipos_Id, "data.data")

                    options += '<option value="' + value.tipos_Id + '">' + value.tipos_Descripcion + '</option>';

                })
                $("#Poliza_Tipos_Id").append(options);
            })
            .catch(error => console.error('Hubo un error:', error));


        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                // Forbid suppressing "Warning" step if the user is to young
                if (newIndex === 3 && Number($("#age").val()) < 18) {
                    return false;
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                // Suppress (skip) "Warning" step if the user is old enough.
                if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                    $(this).steps("next");
                }

                // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex === 2 && priorIndex === 3) {
                    $(this).steps("previous");
                }
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex) {

                var form = $(this);
                form.validate().settings.ignore = ":disabled";
                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error);
            },
            rules: {
                confirm: {
                    equalTo: "#password"
                }
            }
        });
    });

    function ddlMunicipio() {
        console.log("entra")

        var id = $('#Depar_Id').val()

        console.log(id, "id")

        fetch('https://localhost:44327/api/municipio/DropDownList/Municipio?Depar_Id' + id)
            .then(response => response.json())
            .then(data => {
                console.log("fetch")
                var options = '';
                console.log(data,"data")
                $.each(data.data, function (key, value) {
                    console.log(value.munic_Id, "data.data")
                    options += '<option value="' + value.munic_Id + '">' + value.munic_Descripcion + '</option>';

                })
                $("#Cliente_Munic_Id").append(options);
            })
            .catch(error => console.error('Hubo un error:', error));
    }

    var index = 0;

    function appendDependiente() {
        console.log("entro")

        var newDependiente;

        if (index == 0) {
            newDependiente = `
                                <thead>
                                    <tr>
                                        <th>Nombre Completo</th>
                                        <th>Sexo</th>
                                        <th>Identidad</th>
                                        <th>Parentesco</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    <tr>
                                        <td>${$('#Depen_PrimerNombre').val() + ' ' + $('#Depen_SegundoNombre').val() + ' ' + $('#Depen_PrimerApellido').val() + ' ' + $('#Depen_SegundoApellido').val()}</td>
                                        <td>${$('#Depen_Sexo').val()}</td>
                                        <td>${$('#DepenIdent_NumeroIdentificacion').val()}</td>
                                        <td>${$('#DepenParen_Id').text()}</td>
                                    </tr>
                                </tbody>`;

            $('#tableDependientes').append(newDependiente);
        } else {
            newDependiente = `
                                    <tr>
                                        <td>${$('#Depen_PrimerNombre').val() + ' ' + $('#Depen_SegundoNombre').val() + ' ' + $('#Depen_PrimerApellido').val() + ' ' + $('#Depen_SegundoApellido').val()}</td>
                                        <td>${$('#Depen_Sexo').val()}</td>
                                        <td>${$('#DepenIdent_NumeroIdentificacion').val()}</td>
                                        <td>${$('#DepenParen_Id').text()}</td>
                                    </tr>`;

            $('#tbody').append(newDependiente);
        }

        newDependiente = `
                <div>
                    <input id="Dependiente_Perso_PrimerNombre_${index}_" name="Dependiente.Perso_PrimerNombre[${index}]" type="text" class="form-control collapse" />
                    <input id="Dependiente_Perso_SegundoNombre_${index}_" name="Dependiente.Perso_SegundoNombre[${index}]" type="text" class="form-control collapse" />
                    <input id="Dependiente_Perso_PrimerApellido_${index}_" name="Dependiente.Perso_PrimerApellido[${index}]" type="text" class="form-control collapse" />
                    <input id="Dependiente_Perso_SegundoApellido_${index}_" name="Dependiente.Perso_SegundoApellido[${index}]" type="text" class="form-control collapse" />
                    <input id="Dependiente_Perso_Sexo_${index}_" name="Dependiente.Perso_Sexo[${index}]" type="text" class="form-control collapse" />
                    <input id="Identificacion_Tiden_Id_${index + 1}" name="Identificacion.Tiden_Id[${index + 1}]" type="number" class="form-control collapse" />
                    <input id="Identificacion_Ident_NumeroIdentificacion_${index + 1}" name="Identificacion.Ident_NumeroIdentificacion[${index + 1}]" type="number" class="form-control collapse" />
                    <input id="Identificacion_Ident_FechaNacimiento_${index + 1}" name="Identificacion.Ident_FechaNacimiento[${index + 1}]" type="datetime-local" class="form-control collapse" />
                    <input id="Identificacion_Ident_LugarNacimiento_${index + 1}" name="Identificacion.Ident_LugarNacimiento[${index + 1}]" type="text" class="form-control collapse" />
                    <input id="Dependiente_Poliz_Id_${index}_" name="Dependiente.Poliz_Id" type="number" class="form-control collapse" />
                    <input id="Dependiente_Paren_Id_${index}_" name="Dependiente.Paren_Id[${index}]" type="number" class="form-control collapse" />
                </div>`;



        console.log($('#DepenIdent_FechaNacimiento').val())

        $('#listDependientes').append(newDependiente);

        $(`#Dependiente_Perso_PrimerNombre_${index}_`).val($('#Depen_PrimerNombre').val());
        $(`#Dependiente_Perso_SegundoNombre_${index}_`).val($('#Depen_SegundoNombre').val());
        $(`#Dependiente_Perso_PrimerApellido_${index}_`).val($('#Depen_PrimerApellido').val());
        $(`#Dependiente_Perso_SegundoApellido_${index}_`).val($('#Depen_SegundoApellido').val());
        $(`#Dependiente_Perso_Sexo_${index}_`).val($('#Depen_Sexo').val());
        $(`#Identificacion_Tiden_Id_${index + 1}`).val($('#DepenTiden_Id').val());
        $(`#Identificacion_Ident_NumeroIdentificacion_${index + 1}`).val($('#DepenIdent_NumeroIdentificacion').val());
        $(`#Identificacion_Ident_FechaNacimiento_${index + 1}`).val($('#DepenIdent_FechaNacimiento').val());
        $(`#Identificacion_Ident_LugarNacimiento_${index + 1}`).val($('#DepenIdent_LugarNacimiento').val());
        $(`#Dependiente_Poliz_Id_${index}_`).val($('#DepenPoliz_Id').val());
        $(`#Dependiente_Paren_Id_${index}_`).val($('#DepenParen_Id').val());

        index += 1;
    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}