@*@model SegurosFYP.Models.PolizaCompletaViewModel

@{
    ViewData["Title"] = "Pdf";
    ViewData["ModelName"] = "PolizaCompletaViewModel".Replace("ViewModel", "");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table mb-4">
    <tr>
        <td colspan="4">ENCABEZADO</td>
    </tr>
    <tr>
        <th>Cod. de contratante</th>
        <th>Fecha de emision</th>
        <th>No. de poliza</th>
        <th>Cod. Agente de venta</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Cliente.Perso_Id)</td>
        <td>@DateTime.Now</td>
        <td>@Html.DisplayFor(model => model.Poliza.Poliz_Id)</td>
        <td>@Html.DisplayFor(model => model.Empleado.Emple_Id)</td>
    </tr>
</table>

<table>
    <tr class="bg-primary">
        <td colspan="4">A. DATOS GENERALES</td>
    </tr>
    <tr class="bg-primary">
        <td colspan="4">I. DATOS DEL AGENTE DE SEGURO</td>
    </tr>
    <tr>
        <td>Agente</td>
        <td ></td>
        <td>Codigo del agente</td>
        <td></td>
    </tr>
    <tr class="bg-primary">
        <td" colspan="">II. DATOS DEL CONTRATANTE</td>
    </tr>
    <tr>
        <td><b>DATOS PERSONA NATURAL</b></td>
    </tr>
    <tr>
        <th>Primer Nombre</th>
        <th>Segundo Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        @if ()
        {
            <td>Tipo de Identificacion</td>
            <td>Identidad</td>
            <td>Pasaporte</td>
            <td>Carne de residencia</td>
        }
    </tr>
    <tr>
        <th>No. Identificacion</th>
        <th>RTN</th>
        <th>Fecha de nacimiento</th>
        <th>Lugar de nacimiento</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Estado Civil</td>
        <td>S   C   D   V   UL</td>
        <td>Género      Masculino   Femenino</td>
    </tr>
    <tr>
        <td>Nacionalidad</td>
        <td>Estatura</td>
        <td>Peso</td>
    </tr>
    <tr>
        <td>Telefono 1</td>
        <td></td>
        <td>Telefono 2</td>
        <td></td>
    </tr>
    <tr>
        <td>Correo electronico 1</td>
        <td></td>
    </tr>
    <tr>
        <td>Correo electronico 2</td>
        <td></td>
    </tr>
    <tr>
        <td>Nombre del conyuge(completo)</td>
        <td></td>
    </tr>
    <tr>
        <td colspan=""><b>Direccion de residencia del contratante / asegurado</b></td>
    </tr>
    <tr>
        <td>Pais</td>
        <td>Departamento</td>
        <td>Municipio</td>
    </tr>
    <tr>
        <td>Direccion completa</td>
        <td></td>
    </tr>
    <tr>
        <td><b>Beneficiaros contingentes</b></td>
    </tr>
    <tr>
        <th>Nombre</th>
        <th>Identidad</th>
        <th>Parentesco</th>
    </tr>
    @foreach ()
    {
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
</table>*@

