@model SegurosFYP.Models.CargosViewModel

        @{
        ViewData["Title"] = "_Update";
        ViewData["ModelName"] = "CargosViewModel".Replace("ViewModel","");
        }
        
                 <form asp-action="Update">
            <div class="d-flex justify-content-center flex-wrap">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-sm-5">

                <label asp-for="Cargo_Descripcion" class="control-label"></label>
                <input asp-for="Cargo_Descripcion" id="Cargo_Descripcion" class="form-control" />
                <input type="hidden" asp-for="Cargo_Id" />
                <span asp-validation-for="Cargo_Descripcion" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group d-flex justify-content-end" style="gap:5px">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>            
            </div>
        </form>   
                @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }




